/* *** MEDIA QUERY - SCREEN SIZES *** */

/* |||| TABLET |||| */

@media screen and (min-width: 36em) {

    /* || GENERAL || */

    main {
        align-items: center;
    }
    
    /* || CARD || */

    .single-price-grid-component {
        display: grid;
        grid-template-areas: 
        "our-community      our-community"
        "subscription       why-us";
        max-width: 40.813em;
    }

    /* || OUR COMMUNITY || */

    .our-community {
        grid-area: our-community;
    }

    .our-community .text-preset-4-reg {
        max-width: 55ch;
    }

    /* || SUBSCRIPTION || */

    .subscription,
    .why-us {
        padding: 2.563em 2.469em;
    }

    .subscription {
        grid-area: subscription;
    }

    /* || WHY US || */

    .why-us {
        grid-area: why-us;
    }
}