/* *** RESET *** */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img,
picture,
video {
    display: block;
    height: auto;
    max-width: 100%;
}

input,
button,
textarea,
select {
    background-color: transparent;
    border-color: transparent;
    color: inherit;
    font: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}