/* *** STYLES *** */

/* |||| ROOT |||| */

:root {
    /* || COLORS || */
    --gray-500: rgb(154, 167, 190);
    --green-400: rgb(192, 223, 51);
    --teal-500: rgb(42, 179, 177);
    --teal-400: rgb(74, 191, 189);
    --teal-100: rgb(230, 239, 245);
    --white: rgb(255, 255, 255);
}

/* |||| GENERAL |||| */

main {
    background-color: var(--teal-100);
    display: flex;
    min-height: 100vh;
    justify-content: center;
}

/* || SCREEN READER || */

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* |||| CARD |||| */

.single-price-grid-component {
    border-radius: 8px;
    margin: 1.5em 0;
    overflow: hidden;
    max-width: 19.438em;
}

/* || OUR COMMUNITY || */

.our-community {
    background-color: var(--white);
    padding: 2.125em 2.281em;
}

.our-community .text-preset-2 {
    color: var(--teal-500);
    margin-block-end: 0.9em;
}

.our-community .text-preset-3 {
    color: var(--green-400);
    margin-block-end: 0.5em;
}

.our-community .text-preset-4-reg {
    color: var(--gray-500);
    max-width: 25ch;
}



/* || SUBSCRIPTION || */


.subscription,
.why-us {
    color: var(--white);
    padding: 1.5em 2.281em;
}

.subscription {
    background-color: var(--teal-500);
}

.subscription .text-preset-3 {
    margin-block-end: 1em;
}

.price-container p:first-child {
    display: flex;
}

.subscription span.text-preset-4-reg {
    align-self: center;
    margin-inline-start: 0.5em;
    opacity: 50%;
}

.price-container {
    margin-block-end: 1.8em;
}

/* SIGN UP link/button */

.sign-up-btn {
    background-color: var(--green-400);
    border-radius: 0.3em;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 9.7%);
    display: block;
    padding: 0.8em 0;
    text-align: center;
}

/* || WHY US || */

.why-us {
    background-color: var(--teal-400);
}

.why-us .text-preset-3 {
    margin-block-end: 1em;
}

.why-us ul {
    opacity: 75%;
}

/* |||| FOOTER |||| */

.attribution {
    padding: 2em;
    text-align: center;
}

.attribution a {
    color: var(--teal-500);
}

.attribution a:hover,
.attribution a:active,
.attribution a:visited {
    text-decoration: underline;
}